---
import type { Version, Progress } from "../lib/progress";
import { fetchProgress } from "../lib/progress";
import { Chart } from "./Chart";

let selectedEntry;

interface Props {
  version: Version;
  color: "green" | "yellow" | "blue" | "orange";
}

export type UplotData = [number[], number[]];

const { version, color } = Astro.props;

const colors = {
  green: { stroke: "#40e334", fill: "#91eb7f" },
  yellow: { stroke: "#e3ac34", fill: "#edc97e" },
  blue: { stroke: "#3d76da", fill: "#1e3b6d" },
  orange: { stroke: "#cc8400", fill: "#ffa500" },
};

const { stroke, fill } = colors[color];
---

<main id="main" class={color}>
  <div id="plot">
    <Chart
      client:only
      stroke={stroke}
      fill={fill}
      color={color}
      version={version}
    />
  </div>
</main>
<style>
  main {
    flex: 1;
    width: 100%;
    max-width: 1600px;
    max-height: calc(100vh - 100px);

    background-repeat: repeat;
    background-size: 48px;
    background-position: center;

    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: optimizespeed;
    image-rendering: crisp-edges;
    image-rendering: pixelated;

    border-radius: 1rem;

    padding: 1em;
    /*padding-bottom: 2.5em;*/

    overflow-y: auto;

    display: flex;
    flex-direction: column;

    transition: 600ms transform ease-in-out;

    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.3);
  }

  @media (max-width: 800px) {
    main {
      padding-left: 0.2em;
      padding-right: 0.2em;
      padding-top: 0.2em;
    }
  }

  main > :last-child {
    padding-bottom: 1.5em;
  }

  main.green {
    background-color: #68ff51;
    background-image: url("../assets/tiles/green-checker.png");
  }

  main > * {
    image-rendering: initial;
  }
</style>
